/* Estilos generales del cuerpo de la página */
body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Contenedor principal que ocupa toda la pantalla */
#content-box {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f2e8f1;
    background-image: linear-gradient(115deg, transparent 49%, #f4523b 49%), linear-gradient(45deg, transparent 49%, transparent 49%);
    display: flex;
    position: relative; /* Agrega posición relativa para el contenido absoluto */
    justify-content: center; /* Centra el contenido horizontalmente */
}

/* Triángulo en la parte inferior derecha */
#content-box::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -500px; /* Mueve el triángulo 250px a la derecha */
    width: 1220px; /* Ancho del triángulo */
    height: 1220px; /* Altura del triángulo */
    background-color: #fb7148; /* Color del triángulo */
    clip-path: polygon(0% 100%, 49% 0%, 100% 100%);
}

/* Texto "Pokédex" en la parte superior */
#content-box::after {
    content: "Pokédex"; /* Agrega el texto "Pokédex" */
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    width: 100%;
    height: 75px; /* Altura de la línea horizontal */
    background-color: #dbcfd1;
    z-index: 1;
    color: #020202; /* Color del texto */
    font-size: 55px; /* Tamaño del texto */
    padding-left: 10px; /* Espacio a la izquierda del texto */
    display: flex; /* Ajusta el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente dentro de la línea */
    background-image: linear-gradient(115deg, transparent 59.42%, #333333 59.42%), linear-gradient(45deg, transparent 59.42%, transparent 59.42%);
    justify-content: space-between; /* Coloca el texto y el texto "Número" en los extremos */
    
}

/* Texto "Número" a la derecha de la línea */
#content-box::after::before {
    content: "Número"; /* Agrega el texto "Número" */
    display: flex;
    align-items: center;
    color: aqua;
    padding-right: 10px; /* Espacio a la derecha del texto "Número" */
    z-index: 1;
}

/* Contenedor de información de los pokémon */
#pokemon-info {
    width: 250px;
    height: 500px;
    text-align: center;
}

/* Lista de los pokémon */
#pokemon-list {
    width: 40%;
    height: 100vh;
    font-size: 30px;
    overflow-y: auto;
    margin-left: auto;
    margin-left: 600px;
    z-index: 2;
}

/* Estilos para cada fila de la lista de los pokémon */
#pokemon-list li {
    display: table-row;
}

/* Punto (viñeta) antes de cada celda en la lista de los pokémon */
#pokemon-list li::before {
    content: "\2022"; /* Agrega un punto (•) antes de cada celda */
    display: table-cell;
    padding-right: 10px; /* Añade un espacio de 10px entre el punto y el contenido de la celda */
}

/* Estilos para el contenido de cada celda en la lista de los pokémon */
#pokemon-list li span {
    display: table-cell;
    padding: 10px; /* Añade un espacio de 10px alrededor del contenido de las celdas */
}

/* Estilos para los nombres de los pokémon */
.pokemon-name {
    border-radius: 10px;
    background-color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 50px;
}

/* Imagen del pokémon */
#pokemon-info img {
    width: 755px;
    height: 755px;
    background-color: transparent;
    z-index: 2;
}

/* Estilos para los tipos de pokémon */
#pokemon-types {
    margin-top: 10px;
}

/* Estilos para cada tipo de pokémon */
.type-box {
    padding: 3px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
}

/* Estilos para cada tipo específico de pokémon */
.normal {
    background-color: beige;
    color: black;
}

.fire {
    background-color: orange;
    color: white;
}

.grass {
    background-color: green;
    color: white;
}

/* ... Agrega más estilos para otros tipos de pokémon ... */

/* Contenedor de la descripción del pokémon */
#pokemon-description {
    width: 230px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 2px;
    font-size: 18px;
    overflow-y: auto;
}
